[submodule "site-lisp/diff-hl"]
	path = site-lisp/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "site-lisp/eproject"]
	path = site-lisp/eproject
	url = git@github.com:dgutov/eproject.git
[submodule "site-lisp/ethan-wspace"]
	path = site-lisp/ethan-wspace
	url = git://github.com/glasserc/ethan-wspace.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = git@github.com:dgutov/mmm-mode.git
[submodule "site-lisp/point-stack"]
	path = site-lisp/point-stack
	url = git@github.com:dgutov/point-stack.git
[submodule "site-lisp/smartrep.el"]
	path = site-lisp/smartrep.el
	url = git@github.com:dgutov/smartrep.el.git
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "site-lisp/transpose-frame"]
	path = site-lisp/transpose-frame
	url = git://github.com/emacsmirror/transpose-frame.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "site-lisp/robe"]
	path = site-lisp/robe
	url = git@github.com:dgutov/robe.git
[submodule "site-lisp/company"]
	path = site-lisp/company
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/rspec-mode"]
	path = site-lisp/rspec-mode
	url = git@github.com:dgutov/rspec-mode.git
[submodule "site-lisp/js-snippets"]
	path = site-lisp/js-snippets
	url = git@github.com:dgutov/js-snippets.git
