[submodule "site-lisp/diff-hl"]
	path = site-lisp/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = git@github.com:purcell/mmm-mode.git
[submodule "site-lisp/point-stack"]
	path = site-lisp/point-stack
	url = git@github.com:dgutov/point-stack.git
[submodule "site-lisp/smartrep.el"]
	path = site-lisp/smartrep.el
	url = git@github.com:dgutov/smartrep.el.git
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "site-lisp/robe"]
	path = site-lisp/robe
	url = git@github.com:dgutov/robe.git
[submodule "site-lisp/company"]
	path = site-lisp/company
	url = git@github.com:company-mode/company-mode.git
[submodule "site-lisp/rspec-mode"]
	path = site-lisp/rspec-mode
	url = git@github.com:pezra/rspec-mode.git
[submodule "site-lisp/js-snippets"]
	path = site-lisp/js-snippets
	url = git@github.com:dgutov/js-snippets.git
[submodule "site-lisp/company-inf-ruby"]
	path = site-lisp/company-inf-ruby
	url = git@github.com:company-mode/company-inf-ruby.git
[submodule "site-lisp/highlight-tail"]
	path = site-lisp/highlight-tail
	url = https://github.com/kangjianbin/highlight-tail.git
